.img {
  height: 40px;
  width: 40px;
  margin-top: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.34);
  }
        p {
          padding: 0px 10px;
          background-color: aliceblue;
          width: 150px;
          height: 80px;
          line-height: 80px;
}

/* @media (max-width:768px) {
  .container {
    flex-direction: column;
  }
                .img {
                  width: 200px;
                  height: 200px;
                }
                p {
                  background-color: transparent;
                }
                }
        
                */